<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/public-css/main.css">
    <title>Document</title>
  </head>
  <body>
    <h1 class="title">Hola, mundo!</h1>
    <main>
      <h2><%= result.title %></h2>
      <p><%= result.genre %></p>
      <p><%= result.category %></p>
      <p><%= result.year %></p>
    </main>
  </body>
</html>
